<%= form_for(@micropost) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.text_area :content, placeholder: "Compose new micropost..." %>
	</div>
	<input type="text" class="answer" placeholder="First answer..." />
	<input type="text" class="answer" placeholder="Second answer..." />
	<input type="button" class="answer" value="+" />
	<%= f.submit "✓", class: "submit" %>
<% end %>