@import "bootstrap";

/* variables */

$lightGray: #999;
$flatBlueDark: #2C3E50;
$flatBlueLight: #3498D8;
$flatGreen: #2ECC71;
$flatRed: #E74C3C;
$flatPurple: #9B59B6;
$flatYellow: #F1C40F;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;

	h1 {
		margin-bottom: 10px;
	}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	font-family: abril-flatface, serif;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $grayLight;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
	font-family: lato, sans-serif;
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	&:hover {
		color: #fff;
		text-decoration: none;
	}
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: $grayLight;

	a {
		color: #555;
		&:hover {
			color: #222;
		}
	}

	small {
		float: left;
	}

	ul {
		float: right;
		list-style: none;

		li {
			float: left;
			margin-left: 10px;
		}
	}
}

/* profile sidebar */

aside {
	section {
		padding: 10px;
		border-top: 1px solid $grayLighter;
		&:first-child {
			border: 0;
			padding-top: 0;
		}

		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}

		h1 {
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0;
		}
	}
}

/* forms */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

input {
	height: auto !important;
}

#error_explanation {
	color: #f00;

	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

/* microposts */

.microposts {
	list-style: none;
	margin: 10px 0 0 0;

	li.micropost {
		margin-bottom: 10px;
		font-family: lato, sans-serif;

		.user {
			padding: 10px;
			.name {
				color: $grayLight;
				display: none;
			}
			&:hover .name {
				display: inline;
			}

			a {
				font-size: 1.2em;
			}
		}

		.question {
			border: 5px solid #dcdcdc;
			padding: 20px;
		}

		.timestamp, .delete {
			display: none;
			float: right;
			margin-left: 10px;
		}

		&:hover {
			.timestamp, .delete {
				display: inline;
			}
		}

		.content {
			font-size: 1.4em;
			line-height: 2em;
		}

		.answers {
			list-style: none;
			margin-left: 60px;

			.answer {
				line-height: 1.5em;

				input {
					display: inline;
					margin-top: 0;
					margin-right: 6px;
				}

				label {
					display: inline;
					font-size: 1.2em;
					vertical-align: middle;
					line-height: 2em;
				}

				&:nth-of-type(1) {
					color: $flatBlueLight;
				}

				&:nth-of-type(2) {
					color: $flatRed;
				}

				&:nth-of-type(3) {
					color: $flatPurple;
				}

				&:nth-of-type(4) {
					color: $flatYellow;
				}
			}
		}
	}
}

.content {
	display: block;
}

.timestamp {
	color: $grayLight;
}

.gravatar {
	border-radius: 50%;
}

aside {
	textarea {
		height: 100px;
		margin-bottom: 5px;
	}
}

/* sidebar */

.stats {
	overflow: auto;

	a {
		float: left;
		padding: 0 10px;
		border-left: 1px solid $grayLighter;
		color: gray;
		&:first-child {
			padding-left: 0;
			border: 0;
		}
		&:hover {
			text-decoration: none;
			color: $blue;
		}
	}

	strong {
		display: block;
	}
}

.user_avatars {
	overflow: auto;
	margin-top: 10px;

	.gravatar {
		margin: 1px 1px;
	}
}

/* submission form */

textarea#micropost_content {
	background-color: $flatBlueDark;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ddd!important
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ddd!important
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ddd!important
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ddd!important
}

textarea#micropost_content,
input.answer,
input.submit {
	border-radius: 5px!important;
	color: white!important;
	padding: 10px!important;
	width: 100%!important;
	font-size: 18px!important;
	font-weight: 100!important;
	line-height: 22px!important;
	letter-spacing: 1px!important;
	border: none!important;
	margin-bottom: 5px!important;
}

input[type="button"].answer {
	font-weight: 400!important;
}

input.answer:nth-of-type(1) {
	background-color: $flatBlueLight;
}

input.answer:nth-of-type(2) {
	background-color: $flatRed;
}

input.answer:nth-of-type(3) {
	background-color: $flatPurple;
}

input.answer:nth-of-type(4) {
	background-color: $flatYellow;
}

input.submit {
	background-color: $flatGreen!important;
	width: 50%!important;
	float: right;
}

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box-sizing;
}